body{
    background: silver;
    font-family: italic;
}

p {
    color:green;
    font-style: Arial;
}

h3, h4 {
    font-family: Arial;
}
h3 {
    color: blue;
}
h4 {
    color: yellow;
}
li {
    font-size: 12px;
}